.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.gc { display: grid;grid-template-columns: 0.4fr 0.4fr auto;max-width:900px}
@media screen and (max-width: 499px){.gc{grid-template-columns: 0.5fr 0.3fr auto;}}
.gc > div {padding: 10px}
.c2 {grid-column-start:2;grid-column-end: 4}
.row {grid-column-start:1;grid-column-end: 4}